include ../blocks/includes
include page/page
include header/header
include hamburger/hamburger
include logo/logo
include phones-block/phones-block
include top-menu/top-menu
include section-advantages/section-advantages
include font-switch/font-switch
include section-info/section-info
include footer/footer
include socials/socials
include contacts-block/contacts-block
include section-faq/section-faq
include faq-block/faq-block
include section-reviews/section-reviews
include section-works/section-works
include section-prices/section-prices
include popup-price/popup-price
include label/label
include to-top/to-top
include footer-inner/footer-inner
include breadcrumbs/breadcrumbs
include section-contacts/section-contacts
include contacts/contacts
include section-issues/section-issues
include map-leave/map-leave
