include ../blocks/includes
include page/page
include header/header
include hamburger/hamburger
include logo/logo
include phones-block/phones-block
include top-menu/top-menu
include section-advantages/section-advantages
include font-switch/font-switch
include section-info/section-info
include footer/footer
include socials/socials
include contacts-block/contacts-block
include section-faq/section-faq
include faq-block/faq-block
include section-reviews/section-reviews
include section-works/section-works
include section-prices/section-prices
include popup-price/popup-price
include label/label
include to-top/to-top
include footer-inner/footer-inner
include breadcrumbs/breadcrumbs
include section-contacts/section-contacts
include contacts/contacts
include section-issues/section-issues
include map-leave/map-leave
include section-gallery/section-gallery
include section-services/section-services
include service-slider/service-slider
include section-calculator/section-calculator
include checkbox/checkbox
include calculator-panel/calculator-panel
include section-fence/section-fence
include scroll-menu/scroll-menu
include popup-callback/popup-callback
include calculation-form/calculation-form
include section-features/section-features
include info-block/info-block
include inner-prices/inner-prices
include inner-works/inner-works
include infographic/infographic
