mixin phones-block()
  +b.phones-block&attributes(attributes)
    +e.container
      +e.code 8(812)
      +e.list
        +e("a")(href="https://api.whatsapp.com/send?phone=78129046435").phone 904-64-35
        +e("a")(href="tel:+78124081703").phone 408-17-03
