mixin section-works(objWorks)
  +b("section").section-works&attributes(attributes)
    block
    .grid
      +e.container.clearfix
        +e.slider-container
          +e.slider
            - let i = 0;
            each item in objWorks
              +e("a")(class="item" + "_" + i href="#")
                +e("img")(src="" + item.img alt="" + item.alt width="640" height="360" data-thumb=item.preview).img
              - i++;
          +e.navigation
        +e.previews-container
          +e.slider-previews
            - let j = 0;
            each item in objWorks
              +e(class="item-previews" + "_" + j data-preview=j)
                +e("img")(src="" + item.preview alt="" + item.alt width="272" height="153").img-previews
                +e("span").relation
              - j++;
