mixin section-info()
  +b("section").section-info&attributes(attributes)
    .grid
      +e.left
        +b("h2").heading.__heading Установка заборов
        +e("p").text Почти 80% клиентов выбирают типовые комплектации заборов, не переплачивая за особые технологические решения и нестандартные материалы. Если вам нужен просто забор - эти предложения для вас. Но помните, ничто не ограничивает Вашу фантазию.<br/>Если вам нужен просто забор - эти предложения для вас. Но помните, ничто не ограничивает Вашу фантазию!
      +e.right
        +e.img-block
          +e("img")(src="img/section-info-img.png" alt="Установка заборов").img
