mixin socials()
  +b.socials&attributes(attributes)
    +e("a")(href="#" target="_blank").btn._vk
    +e("a")(href="#" target="_blank").btn._fb
    +e("a")(href="#" target="_blank").btn._google-plus
    +e("a")(href="#" target="_blank").btn._inst
